/* Pop!_OS theme */
@import url("./distros-base.css");

:root {
  --color-primary: #4caf50;
  --color-primary-dark: #388e3c;
  --color-primary-light: #66bb6a;
  --color-transparent: rgba(76, 175, 80, 0.3);
  --color-shadow: rgba(76, 175, 80, 0.2);
  --color-shadow-hover: rgba(76, 175, 80, 0.4);
  --color-glow: rgba(76, 175, 80, 0.3);
}
